<div>
  <section class="header">
  </section>
  <section class="content">
    <div fxLayout="row" fxLayoutAlign="space-between start" >
      <div fxFlex="17%"></div>
      <div fxFlex="60%">
        <mat-card>
          <mat-card-header class="card-header">
            <mat-card-title class="title">Login here</mat-card-title>
          </mat-card-header>
          <mat-card-content fxLayout="column" fxLayoutAlign="space-between center">
            <span [hidden]="error" style="color: red">Invalid Username or Password</span>
            <mat-form-field class="full-width" fxFlex="10%">
              <input matInput placeholder="Username" [(ngModel)]="userName">
            </mat-form-field>

            <mat-form-field class="full-width" fxFlex="10%">
              <input matInput type="password" placeholder="Password" [(ngModel)]="password">
            </mat-form-field>

            <div fxLayoutAlign="space-around center" fxLayout="column" fxLayoutGap="5px" fxFlex="10%">
              <button mat-raised-button color="primary" (click)="authenticateAndRedirect()">Submit</button>
              <a [routerLink]="['/forgot-password']" class="forgot-password">Forgot Password?</a>
            </div>

          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="17%"></div>
    </div>
  </section>
  <section class="footer">

  </section>
</div>
